<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout(title=#{page.index.title})}">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title th:text="#{page.index.title}"></title>
</head>
<body>
<th:block layout:fragment="content">
    <th:block th:utext="${content}"></th:block>
    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" type="button" data-bs-toggle="tab" data-bs-target="#news">
                <th:block th:text="#{news}"></th:block>
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" type="button" data-bs-toggle="tab" data-bs-target="#quote">
                <th:block th:text="#{quote}"></th:block>
            </button>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane show active" id="news" role="tabpanel">
            <div class="accordion" id="newsall">
                <!--/*@thymesVar id="pageData" type="java.util.Map<java.lang.String,java.lang.String>"*/-->
                <div th:each="newsEntry:${pageData['news'].entrySet()}">
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                    th:attr="data-bs-target=${'#newsbody'+newsEntry.key}">
                                <span th:text="${newsEntry.value['title']}"></span>
                                <code th:text="${newsEntry.value['date']}"></code>
                            </button>
                        </h2>
                        <div class="accordion-collapse collapse" th:id="${'newsbody'+newsEntry.key}"
                             data-bs-parent="#newsall">
                            <div class="accordion-body">
                                <th:block th:text="${newsEntry.value['description']}"></th:block>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/*@thymesVar id="pageData" type="java.util.Map<java.lang.String,java.lang.String>"*/-->
        <div class="tab-pane" id="quote" role="tabpanel">
            <div th:each="quoteEntry:${pageData['quote'].entrySet()}">
                <div class="card quote" th:id="${'quotebody'+quoteEntry.key}">
                    <div class="card-body">
                        <th:block th:text="${quoteEntry.value}"></th:block>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="application/javascript">
        const quoteEls = document.querySelectorAll('.quote');
        document.querySelectorAll('button[data-bs-toggle="tab"]').forEach((value) => {
            value.addEventListener('shown.bs.tab', () => {
                quoteEls.forEach((value) => {
                    if (!value.classList.contains("d-none")) value.classList.add("d-none");
                });
                quoteEls.item(Math.floor(Math.random() * quoteEls.length)).classList.remove("d-none");
            });
        });
    </script>
</th:block>
</body>
</html>
