<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout(title=${topic.heading})}">
<!--/*@thymesVar id="topic" type="java.util.Map<java.lang.String,java.lang.String>"*/-->
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title th:text="${topic['heading']}"></title>
</head>
<body>
<th:block layout:fragment="content">
    <div class="float-end" th:text="${topic['genre']}"></div>
    <th:block th:utext="${topic['content']}"></th:block>
    <div class="float-end">
        <cite th:text="${topic['date']}"></cite>
        <address th:text="${topic['author']}"></address>
    </div>
    <!--/*@thymesVar id="breadcrumb" type="java.util.List<com.github.lure0xaos.L0XMenuItem>"*/-->
    <th:block th:insert="~{layout::breadcrumb}" th:with="breadcrumb=${breadcrumb}"></th:block>
</th:block>
</body>
</html>
